.small-font{
    font-size: 12px;
}
.no-text-decoration:hover{
    text-decoration: none;
}
.black{
    color: black;
}
.grey{
    color: grey;
}
.card-body-student{
    height: 76px;
    overflow: hidden;
    width: 158px;
    min-height: 58px;
}
.img-height{
    height: 8.5rem;
}

.cn-logo{
    width: 70px;
}

.card-width{
    width: 10rem;
}
.img-height-div{
    height: 8.5rem;
    overflow: hidden;
    text-align: center;
}